body {
    text-align: center;
    font-family: Arial;
    background: #dfe6e9;
}

canvas {
    background: #87ceeb;
    border: 2px solid black;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}